{% extends 'base.html' %}

{% block title %}
{{username}} analysis
{% endblock %}

{% block endcontent %}
<h1>
    Voice Analyzer for {{username}}
</h1>
<div class="row">
    <div class="col-sm-6">
        <h3>Day of the week</h3>
        What days of the week do you tend to tweet most?
        {{ make_percentage_line_graph('DOW', dow_data, 350, 400, 'dayOfWeek','percentage', 'Day of Week', 'Percent of Tweets') }}
    </div>
    <div class="col-sm-6">
        <h3>Hour of the day</h3>
        When do you tweet during the day?
        {{ make_percentage_line_graph('HOD', hod_data, 350, 400, 'hourOfDay','percentage', 'Hour of Day', 'Percent of Tweets') }}
    </div>
</div>
{% endblock %}